
barebone/ios-base-project/PROJECTNAME.xcodeproj/xcuserdata/paulus.xcuserdatad/xcschemes/PROJECTNAME.xcscheme

barebone/ios-base-project/PROJECTNAME.xcodeproj/xcuserdata/paulus.xcuserdatad/xcschemes/xcschememanagement.plist

barebone/ios-base-project/PROJECTNAME.xcworkspace/xcuserdata/paulus.xcuserdatad/UserInterfaceState.xcuserstate
